<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Text</title>
  </head>
  <h1>Site under maintenance</h1>
  <p>This site is under maintenance. Please check back later.</p>

  </body>
</html>
